- var regions = public._data.regions
- var faq = public._data.global.faq
- var sponsors = public._data.global.sponsor
- var pastsponsors = public._data.global.pastsponsors
.top
  .hero
    .items
      .text
        h1 CodeDay Spring 2014
          .subheading May 24-25th, noon-noon
        h2 Build something awesome in 24 hours!
        a.social(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcodeday.org" target="_blank") 
          i.fa.fa-facebook-square
          |  share
        a.social(href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fcodeday.org&text=Join%20me%20at%20@CodeDay%20and%20build%20a%20cool%20app%20or%20game%20in%2024%20hours!&tw_p=tweetbutton&url=http%3A%2F%2Fcodeday.org" target="_blank") 
          i.fa.fa-twitter
          |  tweet
.codedays
  h1.text Join 2,000+ students at CodeDay in a city near you! 
  .regions
    h2 What timezone are you in? 
    for region in regions
      a.city(href="javascript:slideTo('.#{region.name}')", style="background: url('img/regions/#{region.img}');")
        .blur.blackout 
          .span.citylabel #{region.name}
  for region in regions
    .cities.hidden(class="#{region.name}")
      h2 Select your city: 
        a(href="javascript:slideTo('.regions')") (back)
      for codeday in region.cities
        a.city(href="#", style="background: url('img/cities/#{codeday.img}');")
          .blur.blackout
            span.citylabel #{codeday.name}
.faq
  h1 Frequently Asked Questions (FAQ)
  for question in faq
    .question
      h3 #{ question.question }
      p #{ question.answer }
hr
.sponsors
  h1 Global Sponsors
  for sponsor, slug in sponsors
    a.sponsor(class="#{slug}" href="#{ sponsor.link }")
      img.global(src="img/sponsors/#{sponsor.img}")
  h3 Want to sponsor? 
    a(href="mailto:sponsorships@codeday.org") Contact Us!
hr
.sponsors
  h1 Past Sponsors
  for sponsor in pastsponsors
    a.sponsor(class="#{slug}")
      img.past(src="img/sponsors/past/#{sponsor}")
hr
.sponsors
  h1 Organized in Seattle by
    a.sponsor(class="studentrnd" href="https://studentrnd.org/")
      img.global(src="https://studentrnd.org/assets/img/logo.png")
