- var codedays = public._data.codedays
- var faq = public._data.global.faq
- var sponsors = public._data.global.sponsor
.top
  .hero
    .items
      .text
        h1 Build something amazing at CodeDay.
        ul
          li Hang out with friends
          li Meet new people interested in technology
          li Create something cool in <b>24 hours</b>
          li Become a better programmer and learn new things
      .buttons
        a(href="/organize") Organize a CodeDay
        a(href="/sponsor") Sponsor a CodeDay
.codedays
  for codeday, slug in codedays
    a(href="#", style="background: url('cities/#{codeday.img}');")
      span.city #{codeday.name}
.faq
  h2 Frequently Asked Questions (FAQ)
  for question, slug in faq
    .question(class="#{slug}")
      h3 #{ question.question }
      p #{ question.answer }
.sponsors
  h2 Global Sponsors
  for sponsor, slug in sponsors
    a.sponsor(class="#{slug}" href="#{ sponsor.link }")
      img(src="sponsors/#{sponsor.img}")
