- var regions = public._data.regions
- var faq = public._data.global.faq
- var sponsors = public._data.global.sponsor
.top
  .hero
    .items
      .text
        h1 CodeDay Spring 2014
          .subheading May 24th, noon-noon
        h2 Build something awesome in 24 hours!
        .ideas
          p Pitch ideas and form teams!
          p Make friends!
          p Become a better programmer!
.codedays
  h1 Join 2,000+ students at CodeDay in a city near you! 
  h2 Select your region: 
  for region in regions
    a(href="#", style="background: url('regions/#{region.img}');")
      .blur.blackout 
        .span.citylabel #{region.name}
.codedays
  h1 Join 2,000+ students at CodeDay in a city near you! 
  h2 Select your city: 
  for codeday in regions.midwest.cities
    a(href="#", style="background: url('cities/#{codeday.img}');")
      .blur.blackout
        span.citylabel #{codeday.name}
.faq
  h2 Frequently Asked Questions (FAQ)
  for question, slug in faq
    .question(class="#{slug}")
      h3 #{ question.question }
      p #{ question.answer }
.sponsors
  h2 Global Sponsors
  for sponsor, slug in sponsors
    a.sponsor(class="#{slug}" href="#{ sponsor.link }")
      img(src="sponsors/#{sponsor.img}")
